<h3 class="mt-2">Lançamento</h3>
<hr />
<div class="row card-body">
    <div class="col-md-12 col-lg-12">
        <form class="needs-validation">
            <div class="row g-3">
                <div class="col-sm-12">
                    <label for="nome" class="form-label">Descrição:</label>
                    <input type="text" class="form-control" id="descricao" placeholder="">
                </div>
                <div class="col-sm-12">
                    <label for="nome" class="form-label">Valor:</label>
                    <input type="text" class="form-control" id="descricao" placeholder="">
                </div>
                <div class="col-sm-12">
                    <label for="nome" class="form-label">Categoria:</label>
                    <input type="text" class="form-control" id="descricao" placeholder="">
                </div>
                <div class="col-sm-12">
                    <label for="nome" class="form-label">Fonte (Wallet):</label>
                    <input type="text" class="form-control" id="descricao" placeholder="">
                </div>
                <div class="col-sm-12">
                    <label for="nome" class="form-label">Parcelado:</label>
                    <div class="form-check">
                        <input class="form-check-input" 
                            type="radio" 
                            name="flexRadioDefault" 
                            id="flexRadioDefault1">
                        <label class="form-check-label" 
                            for="flexRadioDefault1">
                            Sim
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" 
                            type="radio" name="flexRadioDefault" 
                            id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" 
                            for="flexRadioDefault2">
                            Não
                        </label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label for="nome" class="form-label">Quantas vezes:</label>
                    <input type="text" class="form-control" id="descricao" placeholder="">
                </div>
                <div class="col-sm-12">
                    <label for="nome" class="form-label">Data do Lançamento:</label>
                    <input type="text" class="form-control" id="descricao" placeholder="">
                </div>
            </div>
            <div class="modal-footer mt-2">
                <button type="button" class="btn btn-light">
                    Limpar
                </button>
                <button type="submit" class="btn btn-primary ms-1">
                    Salvar
                </button>
            </div>
        </form>
    </div>
</div>