<header class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0 shadow-sm navbar-expand-md ">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-center" [routerLink]="['/']">
    <img src="assets/img/oasis-logo.svg" alt="Logo do Oasis" width="110" height="35"
      class="d-inline-block align-text-top">
  </a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" style="justify-content: end;">
  <i class="pi pi-question-circle icon-help" (click)="helpNavegation()" title="Clique para acessar o manual" style="font-size: 2rem; margin-left: 85%;"></i>
  <div class="navbar-nav ms-auto">

      <div class="text-end" style="margin-right: 20px">
        <div class="nav-item dropdown text-nowrap">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" style="display: flex;">

            <!-- <img class="rounded-circle shadow-1-strong me-3" 
              *ngIf="imagemPerfil"
              [src]="imagemPerfil" 
              alt="avatar" width="40" height="40" />
            <img class="rounded-circle shadow-1-strong me-3" 
              *ngIf="!imagemPerfil"
              src="../../../../../assets/img/avatar.png"
              alt="avatar" width="40"
              height="40" /> -->

            <span *ngIf="(usuario$ | async) as usuario" class="d-flex flex-column">
              <span class="ml-3 ">{{usuario.apelido}} | {{usuario.nomepapel}}</span>
              <small class="ml-3 ">{{usuario?.perfil?.nome}}</small>
            </span>
            <!-- <span *ngIf="(usuario$ | async) as usuario" class="ml-3 ">{{usuario.nome}} - {{usuario.nomepapel}}</span> -->
            <!-- <span *ngIf="(usuario$ | async) as usuario" class="ml-3 ">{{usuario.nome}}</span> -->
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/']">Home</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" [routerLink]="['/profissional/meus-dados']">Meus Dados</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" (click)="sair()">Sair</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>

</header>
