<div class="card">
  <div class="card-footer py-1 px-1 border-0" style="background-color: #f8f9fa;">
    <div class="d-flex flex-start w-100">
      <div class="form-outline w-100">
        <form [formGroup]="formComentario" (ngSubmit)="adicionar()">
          <p-editor #editor id="editor" formControlName="descricao"
            [style]="{'min-height':'40px', 'background':'white'}" (click)="modoDeEdicao()"
            placeholder="Adicione um comentário.">
            <p-header [style.display]="modoEdicao ? 'inline-block' : 'none'">

              <span class="ql-formats">
                <select class="ql-header" tabindex="-1">
                  <option value="1" tabindex="-1">Heading</option>
                  <option value="2" tabindex="-1">Subheading</option>
                  <option selected tabindex="-1">Normal</option>
                </select>
                <select class="ql-font" tabindex="-1">
                  <option selected tabindex="-1">Sans Serif</option>
                  <option value="serif" tabindex="-1">Serif</option>
                  <option value="monospace" tabindex="-1">Monospace</option>
                </select>
              </span>
              <span class="ql-formats">
                <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
                <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
                <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
              </span>
              <span class="ql-formats">
                <select class="ql-color" tabindex="-1"></select>
                <select class="ql-background" tabindex="-1"></select>
              </span>
              <span class="ql-formats">
                <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
                <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
                <select class="ql-align" tabindex="-1">
                  <option selected tabindex="-1"></option>
                  <option value="center" tabindex="-1"></option>
                  <option value="right" tabindex="-1"></option>
                  <option value="justify" tabindex="-1"></option>
                </select>
              </span>
              <span class="ql-formats">
                <button class="ql-code-block" aria-label="Insert Code Block" tabindex="-1"></button>
              </span>
              <span class="ql-formats">
                <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
              </span>
            </p-header>
          </p-editor>
        </form>
      </div>

      <ng-container *ngIf="cadastrarComentarioComEtiqueta">
        <div class="text-end">
          <small *ngFor="let etiqueta of listaEtiquetasParaCadastrar" class="badge p-2 rounded-pill pr-2 mr-2 {{etiqueta.nomeClasse}}"
            for="flexCheckDefault" style="margin-left: 3px; margin-right: 3px">
            {{etiqueta.nome}}
          </small>
          <button class="btn btn-outline ml-1" type="button" id="button-addon2" [popover]="popTemplate" [outsideClick]="true"
            placement="left">
            <small class="fw-bold">Etiquetas</small>
            <i class="fa fa-solid fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      
        <ng-template #popTemplate>
          <app-etiquetas-popover 
            id="0"
            [listaEtiquetas]="listaEtiquetas" 
            (fecharListarEtiquetas)="fecharPopoverEtiquetas()"
            (adicionarEtiquetaComentario)="adicionarEtiqueta($event)" 
            (excluirEtiquetaComentario)="excluirEtiqueta($event)">
          </app-etiquetas-popover>
        </ng-template>
      </ng-container>
    </div>
    <div class="text-center mt-2 pt-1 mb-1" *ngIf="modoEdicao">
      <button *ngIf="!eRespostaComentario" type="button" class="btn btn-success btn-sm me-2"
        [disabled]="formComentario.invalid ? true : false"
        (click)="adicionar()">Adicionar</button>
      <button *ngIf="eRespostaComentario" type="button" class="btn btn-success btn-sm me-2"
        [disabled]="formComentario.invalid ? true : false"
        (click)="adicionarRespostaComentario()">Salvar</button>
      <button pButton type="button" label="Cancelar" (click)="cancelarComentario()"
        class="p-button p-button-danger btn-sm">
      </button>
    </div>
  </div>
</div>