.titlePick{
    border: 1px solid #dadada;
    border-bottom: none;
    height: 35px;
    text-align: center;
    background-color: #1d70b7;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: auto;
}

.btnPick{
    border: 1px solid #1d70b7;
    text-align: center;
    background-color: #1d70b7;
    color: white;
}

.btnPick:hover{
    background-color: #1d70b7;
}