    <div class="row">
        <div class="col-md-5">
          <div class="titlePick">{{tituloListaDesvinculado}}</div>
            <p-listbox [options]="listaDesvinculados" emptyMessage=" " [filter]="true"   multiple="true" emptyFilterMessage=" " [checkbox]="isDisabled ? false : true" 
            [style]="{'width':'100%'}" [listStyle]="{'height': '200px'}"
            [metaKeySelection]="false"  [optionLabel]="nomeCampoLista" [(ngModel)]="selectedDesvinculados"  #listbox1>
            </p-listbox>                          
        </div>
        <div class="col-md-2">
            <div class="my-2 ml-3 btnPick" (click)="moveUserToGroupMember()" [style]="isDisabled ? 'display: none;': ''"><i class="pi pi-angle-double-right clickable"></i></div>
            <div class="my-2 ml-3 btnPick" (click)="moveGroupToUser()" [style]="isDisabled ? 'display: none;': ''"><i class="pi pi-angle-double-left clickable"></i></div>
        </div>
        <div class="col-md-5">
          <div class="titlePick">{{tituloListaVinculada}}</div>
            <p-listbox [options]="listaVinculados" emptyMessage=" " [filter]="true"  multiple="true" emptyFilterMessage=" "
             [style]="{'width':'100%'}" [listStyle]="{'height': '200px'}" 
             [metaKeySelection]="false" [optionLabel]="nomeCampoLista" [(ngModel)]="selectedVinculados" [checkbox]="isDisabled ? false : true" #listbox2>
            </p-listbox>
        </div>
    </div>
    <br>
