<div class="w-100 d-flex flex-row justify-content-between py-1 mb-3 align-items-center"
  style="border-bottom: 1px solid #f0f0f0">
  <h4 class="mb-3 fw-bolder" style="height: 10px" id="titulo-pagina">{{ tituloPage }}</h4>
  <div class="d-flex gap-2">
    <div *permissao="'vincular-responsavel'">
      <button *ngIf="mostrarBotaoVincularRespons" pButton pRipple label="Vincular Responsável" class="p-button-primary"
        (click)="redirectPageVincularResponsavel()"></button>
    </div>
    <div *permissao="botaoAcao">
      <button *ngIf="mostrarBotao" pButton pRipple label="{{botaoLabel}}" class="p-button-success"
        (click)="redirecionar()"></button>
    </div>
  </div>
</div>
