<div  [formGroup]="formGroup" class="form-group required">
  <p-calendar  
  formControlName="{{ field }}" 
  [showIcon]="true" 
  [showOnFocus]="false"
  [disabled]="disabled"
  [style]="{ width: '100%' }"
  showButtonBar="false"
  [dateFormat]="'dd/mm/yy'"
  [maxDate]="maxDate"
  [minDate]="minDate"
  inputId="{{ field }}"
  (onSelect)="selecionar($event)"
  (onClearClick)="limparCampo(field)"
  (onClear)="limparCampo(field)"
  (onBlur)="changeOut($event)"
  mask="dd/mm/yy"
  (onInput)="setDateValue($event, field)">
  </p-calendar>
</div>