<form [formGroup]="formGroup" id="{{ name }}" >
    <div class="row">
        <div class="form-group col-12">
            <p-autoComplete [disabled]="disabled"  formControlName="{{ name }}" id="{{ name }}" inputId= "{{ name }}" [showEmptyMessage]="true" placeholder="Selecione..."
                emptyMessage="Registro não encontrado!" [suggestions]="arrayPorTipo" (onSelect)="selecionar($event)"
                (completeMethod)="pesquisar($event)" [dropdown]="true" [style]="{'width':'100%'}"
                [inputStyle]="(touched && f[field].invalid) || formSubmit ? {'width':'85%', 'border': 'red 1px solid'} : {'width':'85%', 'border': '#ced4da 1px solid'}" 
                field="{{ fieldFiltro }}" 
                [minLength]="1" 
                (focusout)="inTouched($event)">
                <ng-template let-elemeto pTemplate="item">
                    <div class="ui-helper-clearfix">{{elemeto.nome }}</div>
                </ng-template>
            </p-autoComplete>
        </div>
    </div>
</form>