<div class="card text-center reset-popover" *ngIf="listarEtiquetas">
  <div class="card-header d-flex justify-content-center">
    Etiquetas
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="filtrarEtiquetas()">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar etiquetas..." aria-label="Recipient's username"
          aria-describedby="button-addon2"
          formControlName="pesquisa">
        <button class="btn btn-outline" type="button" id="button-addon2">
          <i class="fa fa-solid fa-magnifying-glass" aria-hidden="true"
          (click)="filtrarEtiquetas()"></i>
        </button>
      </div>
    </form>

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let etiqueta of listaEtiquetas">
        <div class="form-check">
          <input class="form-check-input align-center" type="checkbox" id="{{etiqueta.codigo}}" [(ngModel)]="etiqueta.marcado"
            [ngModelOptions]="{standalone: true}" (change)="manipularEtiqueta(etiqueta)">
          <div class="text-start">
            <label class="p-2 rounded-pill" for="{{etiqueta.codigo}}">
              {{etiqueta.nome}}
            </label>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>