<!-- Image -->
<!-- Description  -->
<h2 class="text-md mt-6 font-semibold text-gray-900 dark:text-night-50 pb-2">Planos de Ação</h2>

<ng-container *ngFor="let item of plans">
    <div class="flex items-end justify-between text-sm font-semibold text-gray-800 dark:text-night-300 mb-2">
        {{item.name}}:
        <span class="rounded-md bg-primary-500 text-white">{{item.type}}</span>
    </div>
    <div class="pl-2 pr-2 flex items-end justify-between text-sm font-semibold text-gray-400 dark:text-night-300">
        Valor Acumulado:
        <span>R$ {{item.acumulatedTotal}}</span>
    </div>
    <div class="pl-2 pr-2 flex items-end justify-between text-sm font-semibold text-gray-400 dark:text-night-300">
        Tempo Investido:
        <span>{{item.numberOfMonthsInvested}} meses</span>
    </div>
    <div class="pl-2 pr-2 flex items-end justify-between text-sm font-semibold text-gray-400 dark:text-night-300">
        Valor Meta:
        <span>R$ {{item.totalValue}}</span>
    </div>
    <div class="pl-2 pr-2 flex items-end justify-between text-sm font-semibold text-gray-400 dark:text-night-300 pb-2 mb-3">
        Tempo Restante para Realização:
        <span>{{item.numberOfMonthsToGoal}} meses</span>
    </div>
</ng-container>

<!-- Buttons -->
<div class="mt-6 flex items-center justify-between">
    <button
        class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600">
        Novo Plano
    </button>
</div>