<!-- comentario -->
<div class="fw-bold mb-1 d-flex justify-content-between">
  <div>
    <img class="rounded-circle shadow-1-strong me-3" 
      *ngIf="comentario?.comentador?.base64"
      [src]="comentario?.comentador?.base64" 
      alt="avatar" width="40" height="40" />
    <img class="rounded-circle shadow-1-strong me-3" 
      *ngIf="!comentario?.comentador?.base64"
      src="../../../../../assets/img/avatar.png"
      alt="avatar" width="40"
      height="40" />
    {{comentario?.nome}} -
    <span class="text-muted small mb-0 fw-normal">
      {{comentario?.dataCriacaoFormatada}}
    </span>
  </div>

  <ng-container *ngIf="mostraEtiqueta">
    <div class="text-end">
      <small *ngFor="let etiqueta of comentario.etiquetas" class="badge p-2 rounded-pill pr-2 mr-2 {{etiqueta.nomeClasse}}"
        for="flexCheckDefault" style="margin-left: 3px; margin-right: 3px">
        {{etiqueta.nome}}
      </small>
  
      <small>Etiquetas</small>
      <button class="btn btn-outline ml-1" type="button" id="button-addon2" [popover]="popTemplate" [outsideClick]="true"
        triggers=""  [isOpen]="isOpen" (click)="isOpen = !isOpen">
        <i class="fa fa-solid fa-plus" aria-hidden="true"></i>
      </button>
    </div>

    <ng-template #popTemplate>
      <app-etiquetas-popover id="{{comentario.codigo}}"
        [(listaEtiquetas)]="listaEtiquetasCompleta" (fecharListarEtiquetas)="fecharPopoverEtiquetas()"
        (adicionarEtiquetaComentario)="adicionarEtiqueta($event)"
        (excluirEtiquetaComentario)="excluirEtiqueta($event)">
      </app-etiquetas-popover>
    </ng-template>
  </ng-container>

</div>

<div class=" pb-2 custom-editor-container mb-2" style="width:94%; margin-left: 6%;">
  <p-editor [(ngModel)]="descricao" [style]="stylesEditor" [readonly]="true" [toolbarVisible]="false"
    class="hide-toolbar ">
    <p-header>
    </p-header>
  </p-editor>

  <div class="small d-flex justify-content-start mt-2" style="margin-top: 5px;">
    <button (click)="mostrarFormResponderComentario(comentario)" 
      class="text-primary btn btn-sm" style="cursor: pointer;" >
      <i class="far fa-comment-dots me-2"></i>
      Responder
    </button>
  </div>
</div>

<!-- comentario -->

<!-- formulario de resposta do comentario -->
<ng-container *ngIf="comentario.mostrarResponderComentario">
  <div class=" pb-2 custom-editor-container mb-4" style="width:88%; margin-left: 12%;">
    <app-comentario-form 
      [codigoTarefa]="comentario.codigoTarefa"
      [codigoComentario]="comentario.eResposta ? null : comentario.codigo"
      [codigoRespostaComentarioPai]="comentario?.codigo"
      [eRespostaComentario]="true" 
      (atualizarListaComentarios)="obterComentariosResposta()"
      (cancelarAdicaoDeComentario)="cancelarAdicaoDeComentarioFechar(comentario)">
    </app-comentario-form>
  </div>
</ng-container>
<!-- formulario de resposta do comentario -->

<!-- Resposta de comentario -->
<ng-container *ngIf="comentario.temResposta">
  <ng-container *ngFor="let respComentario of comentario.respostaComentario">
      <div class="" style="padding-left: 5%;">
        <app-comentario [comentario]="respComentario"
          [listaEtiquetas]="listaEtiquetas"
          [mostraEtiqueta]="false"
          [eRespostaComentario]="true"
          (adicionarEtiquetaComentario)="adicionarEtiqueta()"
          [codigoRespostaComentarioPai]="comentario.codigo"
          (atualizarListaComentarios)="obterComentariosResposta()">
        </app-comentario>
      </div>
  </ng-container>
</ng-container>
<!-- Resposta de comentario -->