::ng-deep .hide-toolbar .ql-toolbar.ql-snow {
  display: none !important;

}
.custom-editor-container {
  border-top: 1px solid #dee2e6;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;

}