/*
p-table { 
    word-break: break-all; 
}

.ui-datatable thead th {
    white-space:normal;
 }
*/
p-table {
  word-break: normal;
  overflow-wrap: anywhere;
}
.header-column-white {
  margin-top: 1px; width: 3.25em; height: 3.5em; background-color: var(--blue-600);
}

.body-column-white {
  text-align: left;
    border: 1px solid #dee2e6;
    border-width: 1px 0 0 0;
}