<div class="row mb-3">
    <form [formGroup]="form" class="row mt-2">
        <div class="col-lg-6" *ngIf="!ehTipoDocumentoPadrao">
            <label class="form-label">Tipo Documento:</label>
            <select class="form-select" id="tipoDocumento" aria-label="tipoDocumento" formControlName="tipoDocumento">
                <option selected value="">Selecione</option>
                <option *ngFor="let tipoDocumento of listaTiposDocumento" [value]="tipoDocumento.codigo">
                    {{tipoDocumento.nome}}
                </option>
            </select>
            <app-field-errors [control]="form.get('tipoDocumento')" nomeLabel="um tipo de documento">
            </app-field-errors>
        </div>

        <div class="col-lg-6">
            <label for="inputArquivo" class="form-label">Documento:</label>
            <div class="input-group">
                <input
                    accept=".zip,.rar,.7z,.gz,application/pdf,image/jpeg,image/png,image/bmp,image/jpg,.doc,.docx,.xls,.xlsx,.pdm,.msg"
                    #fileInput type="file" class="inputfile" id="anexarDocumento" (change)="upload(fileInput.files)" title="Escolha a imagem" style="display: none;" />
                <input type="input" class="form-control" id="inputArquivo"
                    readonly="true"
                    formControlName="nomeDocumento"
                    placeholder="Nenhum arquivo selecionado"
                    aria-describedby="inputGroupFileAddon04"
                    aria-label="Upload">
                <label class="btn btn-outline-secondary border-0"
                    type="button"
                    for="anexarDocumento"
                    id="inputGroupFileAddon04"
                    title="Procurar Documento">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </label>
            </div>
        </div>
    </form>

    <div class="col-lg-12 mb-2 mt-3">
        <div class="d-grid gap-2 col-1 mx-auto">
            <button [disabled]="!podeAnexar" class="btn btn-success" (click)="anexar()" type="button">Anexar</button>
        </div>
    </div>

    <div class="container">
        <table class="table table-bordered">
            <thead class="text-center">
              <tr>
                <th width="10%" scope="col">Data</th>
                <th width="20%" scope="col">Incluído por</th>
                <th width="20%" scope="col">Tipo do Documento</th>
                <th width="40%" scope="col">Nome do Documento</th>
                <th width="10%" class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of listaArquivos; let index=index">
                <td width="10%">{{row?.dataFormatada}}</td>
                <td width="20%">{{row?.usuarioCriacao}}</td>
                <td width="20%">{{row?.tipoDocumento}}</td>
                <td width="40%">{{row?.nome}}</td>
                <td width="10%" class="text-center">
                    <ng-container *ngIf="ehPermitidoExcluir && !ehAlteracao">
                        <button class="btn btn-danger btn-sm"
                            type="button"
                            area-for="inputGroupFile04"
                            id="inputGroupFileAddon04"
                            title="Excluir Arquivo"
                            (click)="remover(row.codigo)">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="ehAlteracao">
                        <button *ngIf="mostrarExcluirPorPermissao" class="btn btn-danger btn-sm"
                            type="button"
                            area-for="inputGroupFile04"
                            id="inputGroupFileAddon04"
                            title="Excluir Arquivo"
                            (click)="removerAlteracao(row.codigo)"
                            [disabled]="desabilitarExcluir">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </ng-container>
                    <button class="btn btn-primary ms-1 btn-sm"
                        type="button"
                        area-for="inputGroupFile04"
                        id="inputGroupFileAddon04"
                        title="Baixar Arquivo"
                        (click)="salvarArquivo(row)">
                        <i class="fa-solid fa-download"></i>
                    </button>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
