<!-- <nav id="sidebarMenu" class="collapse border-0 bg-light sidebar col-md-3 col-lg-2 d-md-block">
  <div class="sidebar-sticky position-sticky pt-3">
    <ul class="nav flex-column" *ngFor="let item of items">
      <li class="nav-item"
        [style]="'display: contents;'" >
        <a (click)="toggleSubitems(item)" class="btn btn-toggle d-flex align-items-center w-100 custom-title"
          style="text-align: inherit;"
          [ngClass]="(currentPage === item.rota) || item.isExpanded  ? 'active' : ''"
          [attr.id]="item.id">
          <i [ngClass]="item.icone" aria-hidden="true" ></i>

          <div style="display: block;">
            <span class="text">{{item.nome}}
            </span>
            <span class="text" style="font-size: 10px; font-weight: 400;">
              {{item.subTitle}}
            </span>
          </div>

          <i *ngIf="item.funcionalidades" class="toggle-icon ml-auto"
            [ngClass]="item.isExpanded ? 'fas fa-chevron-down' : 'fas fa-chevron-right'"
            style="margin-left: auto;">
          </i>
        </a>
        <div *ngIf="item.funcionalidades" [attr.id]="item.bsTarget" class=""
          [ngClass]="{'collapse': !item.isExpanded, 'show': item.isExpanded}"
          style="margin-left: 5px; margin-right: 5px; margin-bottom: 10px; border:#FFF">
          <div class="mt-2">

            <a *ngFor="let subitem of item.funcionalidades" (click)="toggleSubitems(subitem)"
               [ngClass]="{'active': currentPage === subitem.rota || currentPage === item.rota}" style="text-align: inherit; margin-top: 3px;"
              class="btn btn-toggle d-flex align-items-center px-1 w-100 gap-1">
              <i [ngClass]="subitem.icone" aria-hidden="true" style="margin-left: 15px;"></i>
              <span class="text" style="font-size: 14px; font-weight: 400;">{{subitem.nome}}</span>
            </a>
          </div>
        </div>
        <br>
      </li>

    </ul>
  </div>
</nav>
 -->

 <nav id="sidebarMenu" class="collapse border-0 bg-light sidebar col-md-3 col-lg-2 d-md-block">
  <div class="sidebar-sticky position-sticky pt-3">
    <ul class="nav flex-column">
      <ng-container *ngFor="let item of items">
        <li class="nav-item" [style]="'display: contents;'">
          <a (click)="toggleSubitems(item)" class="btn btn-toggle d-flex align-items-center w-100 custom-title"
            style="text-align: inherit;"
            [ngClass]="(isItemActive(item) || isSubitemActive(item)) ? 'active' : ''"
            [attr.id]="item.id">
            <i [ngClass]="item.icone" aria-hidden="true"></i>

            <div style="display: block;">
              <!-- <span class="text">{{ item.nome }}</span> -->
              <span class="text">Teste</span>
            </div>

            <i *ngIf="item.funcionalidades" class="toggle-icon ml-auto"
              [ngClass]="item.isExpanded ? 'fas fa-chevron-down' : 'fas fa-chevron-right'"
              style="margin-left: auto;"></i>
          </a>
          <div *ngIf="item.funcionalidades" [attr.id]="item.bsTarget"
            [ngClass]="{'collapse': !item.isExpanded, 'show': item.isExpanded}"
            style="margin-left: 5px; margin-right: 5px; margin-bottom: 10px; border:#FFF">
            <div class="mt-2">
              <a *ngFor="let subitem of item.funcionalidades" (click)="navigateTo(subitem)"
                [ngClass]="isSubitemActive(subitem) ? 'active' : ''" style="text-align: inherit; margin-top: 3px;"
                class="btn btn-toggle d-flex align-items-center px-1 w-100 gap-1">
                <i [ngClass]="subitem.icone" aria-hidden="true" style="margin-left: 15px;"></i>
                <span class="text" style="font-size: 14px; font-weight: 400;">{{ subitem.nome }}</span>
              </a>
            </div>
          </div>
          <br>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
